@import '../../../scss/variables/bp';

#dashboard-challenges {
	h5 {
		margin-bottom: 0.4rem;
	}

	.challenge-profile.pt-card {
		padding: 0.8rem;
		overflow: auto;
		
		@media(max-width: $bp-s) {
			padding: 0.5rem;
		}

		.profile-content {
			.content {
				margin-bottom: 1rem;

				.pt-control.pt-switch {
					margin-bottom: 0;
				}
			}
		}

		.challenge-item-profile {
			background-color: rgba(94, 116, 130, 0.05);
			margin-top: 0.5rem;
			border-radius: 0.3rem;
			padding: 0.5rem;
		}
	}
}
