@import '../../../scss/variables/bp';

#dashboard-responses {
	.view-list {
		
		.pt-card.response-card.new {
			background-color: rgba(255,255,0,0.15);
		}

		.pt-card.response-card.new span.pt-icon::before {
			color: red;
		}

		.pt-card.response-card.valid span.pt-icon::before {
			color: green;
		}
		
		.pt-card.response-card.error span.pt-icon::before {
			color: darkred;
		}
	}

	#responses-summary {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.5rem;
		
		.response-summary-controls {
			display: flex;
	
			@media(max-width: $bp-s) {
				margin-top: 0.4rem;
				width: 100%;
			}
		}
	
		.pt-input-group {
			width: 100%;
		}
	
		.filter {
			margin-right: 0.5rem;
			
			select {
				padding-left: 1.6rem;
			}
		}
	}
}
