@import '../../../scss/variables/bp';

#dashboard-users {
	.user-card {
		h5 {
			margin-bottom: 0.4rem;
		}
	}

	.user-profile.pt-card {
		padding: 0.8rem;
		overflow: auto;
		
		@media(max-width: $bp-s) {
			padding: 0.5rem;
		}
	
		h5 {
			margin-bottom: 0.4rem;
		}
	
		ul {
			margin: 0;
			padding-left: 0;
			list-style: none;
		}
	}
}
