@import './_variables.scss';

.event-description {
	width: 100%;
	text-align: right;
	margin-top: 3rem;

	@media (max-width: $bp-s) {
		margin-top: 5rem;
	}

	h2 {
		color: $theme-orange;
		font-weight: 200;
		font-size: 2rem;
		line-height: 2.6rem;
		text-shadow: 2px 2px 8px rgba(0,0,0,0.9);

		.em {
			color: white;
		}

		@media (max-width: $bp-s) {
			font-weight: 400;
			font-size: 1.8rem;
			line-height: 2rem;
		}
	}

	$detail-height-l: 29rem;
	$detail-height-m: 27rem;
	$detail-height-s: 25rem;
	$detail-height-xs: 31rem;
	$detail-height-xxs: 34rem;

	.details {
		background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.8) 100%);
		
		&, &::before {
			height: $detail-height-l;
			
			@media (max-width: $bp-m) {
				height: $detail-height-m;
			}

			@media (max-width: $bp-s) {
				height: $detail-height-s;
			}
			
			@media (max-width: $bp-xs) {
				height: $detail-height-xs;
			}
	
			@media (max-width: $bp-xxs) {
				height: $detail-height-xxs;
			}
		}

		div {
			float: right;
			clear: both;
			max-width: 60%;
			margin-right: 2rem;
			margin-left: 2rem;
			margin-bottom: 2rem;
			font-size: 1.3rem;
			color: lightgray;

			@media (max-width: $bp-m) {
				max-width: 80%;
			}

			@media (max-width: $bp-s) {
				max-width: 100%;
				font-size: 1.1rem;
			}
		}
	}
}