.hero {
	.image {
		float: top;
		background-position: 30% 20%;
		background-size: cover;
		background-attachment: fixed;
		position: absolute;
		margin-top: -5rem;
		z-index: -1;

		background-image: url('/images/hero-desktop-min.png');
	
		@media (max-width: 480px) {
			background-image: url('/images/hero-mobile-min.png');
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(135deg, rgba(125, 125, 125, 0.10) 0%,rgba(0,0,0,0.9) 100%);
			z-index: 0;
		}
	}

	.padding {
		margin-left: 3rem;

		@media (max-width: 640px) {
			margin-left: 1rem;
		}
	}

	.text {
		text-shadow: 5px 5px 10px rgba(0,0,0,1);
		font-weight: 100;
		padding: 1rem;

	}

	.register .pt-button {
		text-shadow: none;
		margin-top: 1rem;
		font-weight: 100;
	}


	.title {
		font-size: 6rem;
		background: rgba(0,0,0,0.5);
		color: white;
		margin-left: 3rem;
		margin-top: 5rem;

		.em {
			font-weight: 300;
		}

		@media (max-width: 900px) {
			font-size: 5rem;
			margin-top: 4rem;
		}

		@media (max-width: 770px) {
			font-size: 4rem;
			margin-top: 4rem;
		}

		@media (max-width: 640px) {
			margin-left: 1rem;
			font-size: 3rem;
			margin-top: 3rem;
		}
	}

	.date {
		color: white;
		font-size: 3rem;

		@media (max-width: 900px) {
			font-size: 2.8rem;
		}

		@media (max-width: 770px) {
			font-size: 2.4rem;
		}

		@media (max-width: 640px) {
			font-size: 1.8rem;
		}
	}
	
	.registration {
		font-size: 2rem;
		margin-top: 5rem;
		font-weight: 400;
		color: #E6AA00;
		background: rgba(18, 18, 18, 0.50);
		max-width: 40%;

		.em {
			color: #FCD45F;
		}

		@media (max-width: 900px) {
			font-size: 2rem;
			max-width: 60%;
		}

		@media (max-width: 770px) {
			font-size: 1.7rem;
			max-width: 60%;
		}

		@media (max-width: 640px) {
			font-size: 1.4rem;
			max-width: 70%;
		}
	}
}
