@import '../../scss/variables/bp';

#dashboard-challenges {
	h5 {
		margin-bottom: 0.4rem;
	}

	.challenge-profile.pt-card {
		padding: 0.8rem;
		overflow: auto;
		
		@media(max-width: $bp-s) {
			padding: 0.5rem;
		}

		.profile-content {
			.content {
				margin-bottom: 1rem;

				.pt-control.pt-switch {
					margin-bottom: 0;
				}
			}
		}
	}
}
