@import '../variables/bp';
@import '../variables/colours';

#dashboard {
	.dashboard {
		margin: auto;
		padding: 1.5rem;
		border-radius: 0.5rem;
		background: rgba(0,0,0,0.6);
		color: white;

		&.loading {
			text-align: center;
			padding: 3rem;
		}
		
		h2 {
			color: $theme-orange;
		}

		a {
			color: yellow;
		}

		font-size: 1.3rem;
		max-width: 60rem;

		@media (max-width: $bp-l) {
			max-width: 100%;
			margin: 0 3rem;
		}

		@media (max-width: $bp-s) {
			max-width: 100%;
			margin: 0 1rem;
			font-size: 1rem;
		}
	}
}