main {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to top, rgb(247, 255, 206) 30%,rgb(194, 253, 239) 70%);

	.title {
		line-height: 1.8rem;
		font-size: 1.5rem;
		font-weight: 200;
	}
}
