@import '../variables/bp';

#dashboard-challenges {
	.challenge-profile.pt-card {
		padding: 0.8rem;
		margin-bottom: 1rem;
		overflow: auto;
		
		@media(max-width: $bp-s) {
			padding: 0.5rem;
		}
	
		h5 {
			margin-bottom: 0.4rem;
		}
	}
}
