#dashboard-settings {
	.setting-list {
		.pt-card {
			margin-bottom: 1rem;
			padding: 1rem;
			background-color: #FAFAFA;
		}
	}

	.settings-header {
		display: flex;
		margin: 0.5rem 0;
		justify-content: space-between;

		p {
			margin: auto 0;
			color: gray;
		}
	}
}
