#team-profile {
	.member {
		max-width: 18rem;
		margin: 0.3rem 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		background: #f0f0f0;
		border-radius: 0.5rem;
		padding: 0.5rem;
	}

	.manage {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;

		.add {
			margin: 0.3rem 0;
		}

		.points {
			display: flex;
			align-items: center;
		}
	}
}