@import '../variables/bp';

#user-summary {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	
	.user-summary-controls {
		display: flex;
		
		@media(max-width: $bp-s) {
			margin-top: 0.4rem;
			width: 100%;
		}
	}

	.pt-input-group {
		width: 100%;
	}
}