@import '../../../scss/variables/bp';

.summary-panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	
	.summary-controls {
		display: flex;

		@media(max-width: $bp-s) {
			margin-top: 0.4rem;
			width: 100%;
		}
	}

	.pt-input-group {
		width: 100%;
	}

	.filter {
		margin-right: 0.5rem;
		
		select {
			padding-left: 1.6rem;
		}
	}
}
