@import '../../../scss/variables/colours';

.instruction-panel {
	.markdown.output.markdown-content, .markdown.output.help {
		color: white;
		background: rgba(0,0,0,0.5);
		border-radius: 0.5rem;
		padding: 0.5rem;
		margin-bottom: 0.5rem;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		a {
			color: #48aff0;
		}

		.youtube {
			width: 100%;
			height: 100%;
		}

		&:first-child h1,
		&:first-child h2,
		&:first-child h3,
		&:first-child h4,
		&:first-child h5,
		&:first-child h6 {
			margin-top: 0.2rem;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-top: 1rem;
			margin-bottom: 0.4rem;
		}
		
		h1, h2, h3, h4, h5 {
			color: $theme-orange-light;
		}

		h1 {
			font-size: xx-large;
		}

		h2 {
			font-size: x-large;
		}

		h3 {
			font-size: large;
		}

		h4 {
			font-size: larger;
		}

		h6 {
			color: #a9a9a9;
		}

		table {
			$border-width: 1px;
			$border-colour: #7d7d7d;

			border: none;
			
			thead tr th {
				border-bottom: $border-width solid $border-colour;
				border-right: none; 
			}

			tbody tr {
				td {
					border-right: none;
					border-bottom: none;
				}
			}

			tbody tr {
				&:nth-child(2n + 1) {
					td {
						background-color: rgba(255,255,255,0.1);
					}
				}
			}
		}
	}
}
