@import '../../../scss/variables/colours';

.dashboard {
	max-width: 40rem;
	margin: auto;
	color: white;

	h2, h5 {
		&, .pt-dark & {
			color: $theme-orange;
		}
	}

	.pt-callout {
		margin-bottom: 1rem;
	}
	
	.content {
		border-radius: 1rem;
		padding: 1rem;
		margin: 1rem;
		color: white;
		background: rgba(0,0,0,0.8);
	}

	.helper-button {
		float: right;
	}
}
