#dashboard-home {
	max-width: 40rem;
	margin: auto;

	&, h5 {
		color: white;
	}

	.pt-callout {
		margin-bottom: 1rem;
	}
	
	.content {
		border-radius: 1rem;
		padding: 1rem;
		margin: 1rem;
		color: white;
		background: rgba(0,0,0,0.7);
	}

	.team-loading {
		position: absolute;
		margin-left: 0.5rem;
	}

	.helper-button {
		float: right;
	}
}
